<!DOCTYPE html>
<html>
<head>
  <style>
    ul.navbar {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    ul.navbar li {
      float: left;
    }

    ul.navbar li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    ul.navbar li a:hover {
      background-color: #111;
    }
  </style>
</head>
<body>
  <ul class="navbar">
    <li><a href="#author">Author</a></li>
    <li><a href="#book">Book</a></li>
    <li><a href="#issued_date">Issued Date</a></li>
    <li><a href="#pages">Pages</a></li>
    <li><a href="#image">Image</a></li>
  </ul>

  <section id="author">
    <h2>Hello Maktabion</h2>
  </section>

  </section>
</body>
</html>
